<a href="https://colab.research.google.com/github/KhNikh/JPMC-tech-task-1/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Email Spam Detection

In [ ]:
#import Libraries
import numpy as np
import pandas as pd
import nltk 
from nltk.corpus import  stopwords
import string

In [ ]:
#import files 
from google.colab import files
upload = files.upload()

Saving spam_ham_dataset.csv to spam_ham_dataset.csv

In [ ]:
#read file
df = pd.read_csv('spam_ham_dataset.csv')
df.head(5)

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [ ]:
df.shape

(5171, 4)

In [ ]:
df.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [ ]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0  ... label_num
0            605  ...         0
1           2349  ...         0
2           3624  ...         0
3           4685  ...         1
4           2030  ...         0
...          ...  ...       ...
5166        1518  ...         0
5167         404  ...         0
5168        2933  ...         0
5169        1409  ...         0
5170        4807  ...         1

[5171 rows x 4 columns]>

In [ ]:
df.head()

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [ ]:
#Drop Duplicates
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(5171, 4)

In [ ]:
#Check NULL values
df.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [ ]:
#Download stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
def processText(text):
  #1. Remove punctuation
  #2. Remove stopwords
  #3. return list of clean text words

  #1.
  nopunc = [char for char in text if char not in string.punctuation]
  nopunc= ''.join(nopunc)

  #2.
  clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english') ]

  #3.
  return clean_words

In [ ]:
#show tokenisation
df['text'].head()

0    Subject: enron methanol ; meter # : 988291\r\n...
1    Subject: hpl nom for january 9 , 2001\r\n( see...
2    Subject: neon retreat\r\nho ho ho , we ' re ar...
3    Subject: photoshop , windows , office . cheap ...
4    Subject: re : indian springs\r\nthis deal is t...
Name: text, dtype: object

In [ ]:
df['text'].head().apply(processText)

0    [Subject, enron, methanol, meter, 988291, foll...
1    [Subject, hpl, nom, january, 9, 2001, see, att...
2    [Subject, neon, retreat, ho, ho, ho, around, w...
3    [Subject, photoshop, windows, office, cheap, m...
4    [Subject, indian, springs, deal, book, teco, p...
Name: text, dtype: object

In [ ]:
#Example
message1='hi hi my name name hi nipun'
message2 = 'lets lets play play cricket play'
message3 = 'hey hey how are are are you you'
from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer(analyzer=processText).fit_transform([[message1],[message2],[message3]])
print(bow)
print()
bow.shape

  (0, 2)	3
  (0, 4)	2
  (0, 5)	1
  (1, 3)	2
  (1, 6)	3
  (1, 0)	1
  (2, 1)	2

(3, 7)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
messageBow=CountVectorizer(analyzer=processText).fit_transform(df['text'])

In [ ]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [ ]:
messageBow.shape

(5171, 50381)

In [ ]:
#Split data in 80% training and 20% test set
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(messageBow,df['label'],test_size= .20,random_state=0)

In [ ]:
#Create and train the naive bayse classifier
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train,Y_train)

In [ ]:
#Print the Prediction on training data
print(classifier.predict(X_train))

#Print actual value
print(Y_train.values)

['ham' 'ham' 'ham' ... 'spam' 'ham' 'ham']
['ham' 'ham' 'ham' ... 'spam' 'ham' 'ham']

In [ ]:
#Evaluate the model on training data set
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
pred=classifier.predict(X_train)
print(classification_report(Y_train,pred))
print()
print('confusion: \n',confusion_matrix(Y_train,pred))
print()
print('Accuracy: ',accuracy_score(Y_train,pred))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99      2940
        spam       0.98      0.97      0.98      1196

    accuracy                           0.99      4136
   macro avg       0.99      0.98      0.98      4136
weighted avg       0.99      0.99      0.99      4136


confusion:
 [[2918   22]
 [  30 1166]]

Accuracy:  0.9874274661508704

In [ ]:
#Print the Prediction on test data
print(classifier.predict(X_test))

#Print actual value
print(Y_test.values)

['ham' 'ham' 'ham' ... 'ham' 'spam' 'ham']
['ham' 'ham' 'ham' ... 'ham' 'spam' 'ham']

In [ ]:
#Evaluate the model on test data set
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
pred=classifier.predict(X_test)
print(classification_report(Y_test,pred))
print()
print('confusion: \n',confusion_matrix(Y_test,pred))
print()
print('Accuracy: ',accuracy_score(Y_test,pred))

              precision    recall  f1-score   support

         ham       0.98      0.98      0.98       732
        spam       0.95      0.96      0.96       303

    accuracy                           0.97      1035
   macro avg       0.97      0.97      0.97      1035
weighted avg       0.97      0.97      0.97      1035


confusion:
 [[718  14]
 [ 13 290]]

Accuracy:  0.9739130434782609